<!-- 
  @file descargaprincipal.component.html
  @description Plantilla del componente DescargaprincipalComponent.
  Contiene la estructura principal de la página de descarga de drivers, 
  organizando los componentes de encabezado, formulario y pie de página.
-->

<div>
    <!-- 
      @description Componente de encabezado.
      Contiene la barra de navegación y elementos principales de la cabecera.
    -->
    <app-header></app-header>
  
    <!-- 
      @description Componente de formulario de descarga de drivers.
      Permite al usuario seleccionar y descargar los controladores adecuados.
    -->
    <app-formulariodriver></app-formulariodriver>
  
    <!-- 
      @description Componente de pie de página.
      Muestra información adicional, enlaces de contacto y políticas del sitio.
    -->
    <app-footer></app-footer>
  </div>
  