<div class="all">
<div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <div class="feature col">
      <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
        <svg class="bi" width="1em" height="1em"><use xlink:href="#collection"></use><image href="../../../../assets/shield_tick_icon_259665.png" width="100%" height="100%" preserveAspectRatio="xMidYMid slice" /></svg>
      </div>
      <h3 class="fs-2 text-body-emphasis">CONFIABLES</h3>
      <p>Nuestros equipos trabajan para garantizar los resultados esperados y deseados por usted el cliente </p>
     
    </div>
    <div class="feature col">
      <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
        <svg class="bi" width="1em" height="1em"><use xlink:href="#people-circle"></use><image href="../../../../assets/lock-outlined-padlock-symbol-for-security-interface_icon-icons.com_57803.png" width="100%" height="100%" preserveAspectRatio="xMidYMid slice" /></svg>
      </div>
      <h3 class="fs-2 text-body-emphasis">CONFIDENTES</h3>
      <p>Cualquier interaccion o proceso gestionado con usted es completamente confidencial y no se compartiran con terceros</p>
     
    </div>
    <div class="feature col">
      <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
        <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"></use><image href="../../../../assets/pc-computer-with-monitor_icon-icons.com_56249.png" width="100%" height="100%" preserveAspectRatio="xMidYMid slice" /></svg>
      </div>
      <h3 class="fs-2 text-body-emphasis">SIEMPRE ACTUALIZADOS</h3>
      <p>Nuestros equipos usan las ultimas tecnologias para garantizar y optimizar su producto</p>
   
    </div>
  </div>
</div>