<!-- Componente de encabezado, contiene la barra de navegación, el logo, etc. -->
<app-header></app-header>

<!-- Componente de carrusel, utilizado para mostrar imágenes o contenido de manera rotativa -->
<app-carousel></app-carousel>

<!-- Componente de albúm, podría ser para mostrar una colección de imágenes, canciones, videos, etc. -->
<app-albun></app-albun>

<!-- Componente de pie de página, contiene información adicional, enlaces de contacto o derechos de autor -->
<app-footer></app-footer>
