<!--
  @file Cabecera del sitio web con navegación y búsqueda.
  @description Este componente representa la barra de navegación principal de la aplicación.
-->

<div id="cabecera" class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

  <!--
    @section Logo
    @description Contenedor del logo de la aplicación, con enlace a la página de inicio.
  -->
  <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
      <!-- 
        @description Uso del logo de Nvidia almacenado en assets 
      -->
      <use xlink:href="assets/Nvidia.svg"></use>
      <image href="../../../../assets/Nvidia.svg" width="100%" height="100%" preserveAspectRatio="xMidYMid slice" />
    </svg>
  </a>

  <!--
    @section Navegación
    @description Lista de enlaces para navegar entre las diferentes secciones del sitio.
  -->
  <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
    <li><a href="/home" class="nav-link px-2 text-secondary">Inicio</a></li>
    <li><a href="/news" class="nav-link px-2 text-white">Noticias</a></li>
    <li><a href="#" class="nav-link px-2 text-white">Soporte</a></li>
    <li><a href="#" class="nav-link px-2 text-white">Descargas</a></li>
    <li><a href="/about" class="nav-link px-2 text-white">Acerca de nosotros</a></li>
  </ul>

  <!--
    @section Barra de búsqueda
    @description Campo de búsqueda que se muestra si la variable showSearch es verdadera.
    @property {boolean} showSearch - Controla la visibilidad del input de búsqueda.
  -->
  <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search" *ngIf="showSearch">
    <input type="search" class="form-control form-control-dark text-bg-dark" id="busqueda" placeholder="Buscar..." aria-label="Search">
  </form>

  <!--
    @section Botones de usuario
    @description Espacio reservado para botones de autenticación u opciones de usuario.
  -->
  <div class="text-end">
    <!-- Botones de usuario pueden ir aquí -->
  </div>

</div>
