<!-- Componente para el encabezado de la página, donde generalmente se coloca la navegación o el título -->
<app-header></app-header>

<!-- Componente que muestra el equipo, podría incluir información sobre el personal o colaboradores -->
<app-team></app-team>

<!-- Componente para mostrar las características o funcionalidades principales del producto o servicio -->
<app-feautures></app-feautures>

<!-- Componente para el pie de página, generalmente utilizado para enlaces adicionales o información de contacto -->
<app-footer></app-footer>
