<div class="container marketing">
    <h1 id="title">NUESTRO EQUIPO</h1>
    &nbsp;
    &nbsp;
    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <img class="rounded-circle" src="../../../../assets/OIP (3).jpg" alt="Generic placeholder image" width="140" height="140">
        <h2>C.E.O</h2>
        <p>El CEO de nuestra empresa es un líder visionario con una sólida trayectoria en la industria. Con más de 20 años de experiencia, ha demostrado un compromiso inquebrantable con la innovación y la excelencia operativa. Su enfoque estratégico ha sido fundamental para guiar a la empresa hacia el crecimiento sostenible y el éxito en un mercado en constante evolución.</p>
       
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="rounded-circle" src="../../../../assets/OIP (4).jpg" alt="Generic placeholder image" width="140" height="140">
        <h2>JEFE DE MARKETING</h2>
        <p>El Jefe de Marketing de nuestra empresa es un profesional apasionado y creativo con una amplia experiencia en el desarrollo e implementación de estrategias de marketing efectivas. Con más de 20 años en la industria, ha demostrado su capacidad para impulsar el crecimiento de la marca y aumentar la visibilidad en un mercado competitivo.</p>
       
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="rounded-circle" src="../../../../assets/1676590445591.jpg" alt="Generic placeholder image" width="140" height="140">
        <h2>COMMUNIY MANAGER</h2>
        <p>El Community Manager de nuestra empresa es un apasionado de la comunicación digital y la construcción de comunidades en línea. Con una sólida experiencia en gestión de redes sociales y marketing digital, ha dedicado más de 20 años a conectar marcas con sus audiencias de manera auténtica y efectiva.</p>
        
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

    <div class="row">
        <div class="col-lg-4">
          <img class="rounded-circle" src="../../../../assets/R (1).jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>GERENTE DE ALMACEN</h2>
          <p>El Gerente de Almacén de nuestra empresa es un profesional altamente organizado y eficiente, con una sólida experiencia en la gestión de operaciones logísticas y de almacenamiento. Con más de 20 años en el sector, ha demostrado su capacidad para optimizar procesos y garantizar un flujo de trabajo fluido en el almacén.</p>
         
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="rounded-circle" src="../../../../assets/serious-man-portrait-real-people-high-definition-grey-background-photo.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>GERENTE FINANCIERO</h2>
          <p>El Gerente Financiero de nuestra empresa es un profesional altamente calificado y analítico, con una amplia experiencia en la gestión de finanzas corporativas y planificación estratégica. Con más de 20 años en el sector, ha demostrado su capacidad para optimizar recursos y garantizar la salud financiera de la organización.</p>
          
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="rounded-circle" src="../../../../assets/OIP (5).jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>CONSERJE</h2>
          <p>El Conserje de nuestra empresa es un profesional dedicado y atento, responsable de mantener un ambiente limpio, seguro y acogedor para todos los empleados y visitantes. Con una sólida experiencia en el mantenimiento y la gestión de instalaciones, se asegura de que cada rincón de nuestras instalaciones refleje nuestros estándares de calidad y profesionalismo.</p>
       
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->



  </div>